
<h2 class="text-center m-5">Basic todo-app</h2>
<div class="container">
  <form class="d-flex" role="search" (submit)="onSubmit($event)">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
  <app-container style="margin:30px" (editclose)="editClose()"></app-container>
  <div class="display-flex text-end" >
    <svg (click)="onClick()" style="height:50px; weight:50px;cursor:pointer;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM232 344l0-64-64 0c-13.3 0-24-10.7-24-24s10.7-24 24-24l64 0 0-64c0-13.3 10.7-24 24-24s24 10.7 24 24l0 64 64 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-64 0 0 64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"/></svg>
  </div>
  <app-modal *ngIf="showModal" (close)="onClose()"></app-modal>

</div>

